<h1>Favorite Vloggers</h1>




<% if logged_in? %>
<h3> Hello, <%= current_user.name %> </h3>
<% end %>

<ul>

<% @vlogs.each do |v| %>
<li><a href="/vlogs/<%=v.id%>"><%= v.name %> </a></li>
<% end %>

</ul>
