

<h1>Your Favorite Vlog Below</h1>

<h2><p><%= @vlog.name %></p></h2>
<p>Genre: <%= @vlog.genre %></p>

<a href="/vlogs/<%=@vlog.id%>/edit">Edit</a>
<form method="POST" action="/vlogs/<%=@vlog.id%>">
<input type="hidden" name="_method" value="DELETE" />
<input type="submit" value="Delete Favorite Vlogger"/>
</form>



