<!DOCTYPE html>  
<html> 
    <body>
    <h1>Sign Up Below to Talk About Your Favorite Vloggers.</h1>
    <br>
    <br>
    <form action="/signup" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" />
    <br>
    <br>
    <label for="email">Email: </label>
    <input type="text" name="email" />
    <br>
    <br>
    <label for="password">Password: </label>
    <input type="text" name="password" />
    <br>
    <br>
    <input type="submit" value="Create New User" />
    </form>
</body>
</html>

