
    <h2>Steven Vlogs</h2>

    <ul>
    <li><a href="/vlogs">Vloggers</a></li><br>
    <li><a href="/login">Login Page</a></li><br>
    <li><a href="/signup">Sign Up Page</a></li><br>

    <% if logged_in? %>
  
    <a href="/vlogs/new">Add New Vlogger</a></li>


    <form method="POST" action="/login">
    <input type="submit" value="Log Out Page">
    </form>
   
    <% end %>
    </ul>


    </body>
  </html>