<!DOCTYPE html>
<html>
    <body>
        <h1>Welcome to Steven Vlogs</h1>
        <p><a href="/login">Login</a> or <a href="/signup">Sign Up</a> to post your favorite vloggers</p>
    </body>
</html>