<div class="container">
<center><header><img src="https://images.pexels.com/photos/320617/pexels-photo-320617.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260g" width="300" height="300" class="img-responsive main-image"></header></center>
  <div class="col-md-8 col-md-offset-2">
    <h2>Steven Vlogs</h2>

    <div class="content">
    <p><p>Welcome to the Steven Vlogs! 
    Once you create an account you will be able to list your favorite vloggers and also leave an description. 
    Thanks for visting and hope you enjoy Steven Vlogs.</p>
  
    <ul>
    <li><a href="/vlogs">Vloggers</a></li><br>
    <li><a href="/login">Login Page</a></li><br>
    <li><a href="/signup">Sign Up Page</a></li><br>
  
   
    <a href="/vlogs/new">Add New Vlogger</a></li>
    
    <form method="POST" action="/login">
    <input type="submit" value="Log Out Page">
    </form>
   
    </ul>
  
    </body>
  </html>